.title {
  font-family: CamphorStd-Bold;
  color: #525252;
  font-size: 18px;
  margin: 0px !important;
}
.buttonStyle {
  font-family: CamphorStd-Bold;
  font-size: 14px;
  margin: 0px !important;
}
.alert {
  background-color: rgba(249, 83, 53, 1);
  color: white;
  border: 0px;
  font-family: CamphorStd-Bold;
}